*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/background.jfif);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgb(13, 1, 1);
    box-shadow: rgba(230, 223, 223, 0.3) 0px 19px 38px, rgba(237, 232, 232, 0.22) 0px 15px 12px;
}
nav img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(101, 73, 73, 0.22) 0px 15px 12px;
}
.nav-link{
    flex:9;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: rgb(104, 94, 94);
    text-decoration: none;
    font-size: 12px;

}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1aa11f;
    display: block;
    margin: auto;
    transition: 0.6s;
}

.nav-link ul li:hover::after{
    width: 100%;}

    
		.user_card {
			height: 320px;
			width: 250px;
			margin-top: auto;
			margin-bottom: auto;
			background:#1E130C ;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 120px;
			width: 120px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 80px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background:#f39c12 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #1aa11f !important;
            font-size: small;
		
        }
        .mt-4{
            text-align: center;
            justify-content: center;
            font-size: small;
        }